extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
            a.navbar-brand(href='/') Acordãos
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse')
                span.navbar-toggler-icon
            .collapse.navbar-collapse.justify-content-between#navbarCollapse
                .navbar-nav
                    a.nav-item.nav-link.active(href='/pesquisas') Pesquisas
                form.d-flex(action="/pesquisa")
                    .input-group
                        input.form-control(type='text' placeholder='Search' name='search')
                        button.btn.btn-secondary(type='submit')
                            i.fa-solid.fa-magnifying-glass.fa-rotate-90
                .navbar-nav
                    a.nav-item.nav-link(href='/login') Login

    .container-fluid.mx-auto.w-50.p-4
        h2.text-center Lista de Tribunais
        .list-group 
            each value, key  in tribunais
                a.list-group-item.list-group-item-action(href='#')= value