<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acordãos</title>
</head>

<body>
  <div class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a href="#" class="navbar-brand">Acordãos</a>
          </div>

          <div class="navbar-collapse collapse" id="mobile_menu">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Mais Informações</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Perfil do Utilizador</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Login</a></li>
                  <li><a href="#">Sign Up</a></li>
                </ul>
              </li>
            </ul>
            <form action="" class="navbar-form navbar-right hidden-sm hidden-xs">
              <div class="form-group">
                <div class="input-group">
                  <input type="search" name="search" id="" placeholder="Procure por alguma coisa..."
                    class="form-control">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row ">
      <div class="col-md-12">
        <div class="text" style="font-size:xx-large; margin-bottom: 50px; margin-top: 30px; text-decoration: underline;">
          Lista de Tribunais:
        </div>
        <div class="list ">
          <ul class="list-group list-group-flush">
            <a><li class="list-group-item">Tribunal 1</li></a>
            <a><li class="list-group-item">Tribunal 2</li></a>
            <a><li class="list-group-item">Tribunal 3</li></a>
            <a><li class="list-group-item">Tribunal 4</li></a>
            <a><li class="list-group-item">Tribunal 5</li></a>
          </ul>
        </div>
      </div>
    </div>

    <footer class="bg-light text-center text-lg-start" style="margin-top: 30px;">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgb(255, 255, 255);">
        <span class="text-dark">© 2023 Copyright:</span>
        <a class="text-dark bg-white" href="https://localhost::8003/">Acordaos</a>
      </div>
      <!-- Copyright -->
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>


</html>