extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
            a.navbar-brand(href='/') Acordãos
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse')
                span.navbar-toggler-icon
            .collapse.navbar-collapse.justify-content-between#navbarCollapse
                .navbar-nav
                    a.nav-item.nav-link.active(href='/pesquisas') Pesquisas
                form.d-flex(action="/pesquisa")
                    .input-group
                        input.form-control(type='text' placeholder='Search' name='search')
                        button.btn.btn-secondary(type='submit')
                            i.fa-solid.fa-magnifying-glass.fa-rotate-90
                .navbar-navi.fa-solid.fa-magnifying-glass.fa-rotate-90 
                    a.nav-item.nav-link(href='/ussers/login') Login

    .container-fluid.mx-auto.w-50.p-4
        h2.text-center Processo
        .list-group 
            ul 
              li ID -    #{processo._id}
    button.btn.btn-secondary(type='submit')
        p Adicionar aos favoritos
    .container.mt-auto
    footer
      ul.nav.justify-content-center.border-bottom.pb-3.mb-3
        li.nav-item
          a.nav-link.px-2.text-muted(href='/') Acordãos
        li.nav-item
          a.nav-link.px-2.text-muted(href='/pesquisas') Pesquisas
        li.nav-item
          a.nav-link.px-2.text-muted(href='/users/login') Iniciar Sessão
      p.text-center.text-muted © 2023 EngWeb, Acordãos
