extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
            a.navbar-brand(href='/') Acordãos
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse')
                span.navbar-toggler-icon
            .collapse.navbar-collapse.justify-content-between#navbarCollapse
                .navbar-nav
                    a.nav-item.nav-link.active(href='/pesquisas') Pesquisas
                form.d-flex(action="/pesquisa")
                    .input-group
                        input.form-control(type='text' placeholder='Search' name='search')
                        button.btn.btn-secondary(type='submit')
                            i.fa-solid.fa-magnifying-glass.fa-rotate-90
                .navbar-navi.fa-solid.fa-magnifying-glass.fa-rotate-90 
                    a.nav-item.nav-link(href='/login') Login
                .navbar-nav
                    if user 
                        a.nav-item.nav-link(href='/users/' + user.id) 
                            i.fa-solid.fa-user
                            |  Perfil
                    else
                        a.nav-item.nav-link(href='/users/login') Iniciar Sessão

    .container-fluid.mt-4.p-4 
        h2 Acordão
            button.btn 
                i.fa-regular.fa-star#fav-icon(style="color: #f0dd0a")
        table.table.table-striped.table-hover
            thead 
                th Campo 
                th Valor 
            tbody 
                each val in Object.entries(processo)  
                    // Devolve uma lista de arrays [[campo, valor], [campo, valor]]
                    tr 
                        td= val[0]
                        td= val[1]
    script. 
        // jQuery
        $(document).ready(function() {
        $('#fav-icon').hover(
            function() {
                $(this).attr("class","fa-star fa-solid");
            },
            function() {
                $(this).attr("class","fa-star fa-regular");
            }
        );
        });

                .navbar-nav
                    if user 
                        a.nav-item.nav-link(href='/users/' + user.id) 
                            i.fa-solid.fa-user
                            |  Perfil
                    else
                        a.nav-item.nav-link(href='/users/login') Iniciar Sessão
    footer
      ul.nav.justify-content-center.border-bottom.pb-3.mb-3
        li.nav-item
          a.nav-link.px-2.text-muted(href='/') Acordãos
        li.nav-item
          a.nav-link.px-2.text-muted(href='/pesquisas') Pesquisas
        li.nav-item
          a.nav-link.px-2.text-muted(href='/users/login') Iniciar Sessão
      p.text-center.text-muted © 2023 EngWeb, Acordãos
