extends layout

block content
  .container
    h2.mt-5.mb-5.text-center Registo na aplicação:
    .row.justify-content-md-center
      .col-xxl-5.col-xl-6.col-lg-7.col-md-9.col-xs-10
        form(action='/register' method='POST')
          .mb-3
            label.form-label(for='Nome Próprio') Nome Próprio:
            input.form-control#nome1(type="text" name='name')
          .mb-3
            label.form-label(for='Apelido') Apelido:
            input.form-control#apelido1(type='text' name='surname')
          .mb-3
            label.form-label(for='Username') Username:
            input.form-control#username1(type="text" name='username')
          .mb-3
            label.form-label(for='Email') Email:
            input.form-control#email1(type="text" name='email')
          .mb-3
            label.form-label(for='Password') Password:
            input.form-control#password1(type='password' name='password')
          .mb-3
            label.form-label(for='Função') Função:
            select.form-control(value="level" required)
              option(value="consumer") Consumidor 
              option(value="producer") Produtor 
          .row.mt-4.mb-2.m-2
            .form-check
              input.form-check-input#invalidCheck(type='checkbox' required)
              label.form-check-label(for='invalidCheck')
                .text(style='font-size: 15px;').
                  Aceite os termos e condições.
              .invalid-feedback.
                Deve aceitar os termos e condições antes de continuar.
          .text-center.mt-4.mb-2.m-2
            button.btn.btn-primary.mt-3(type='submit' style='width: 50%') Submit
          .social.text-center.mt-5
            div(style='text-decoration: solid; text-decoration-line: underline;') Outras formas de registo:
            .mt-3
              a.mx-1(href="/facebook")
                i(style="color: #000000;").fa-brands.fa-facebook.fa-xl
              a.mx-1(href="/google")
                i(style="color: #000000;").fa-brands.fa-google.fa-xl